{% extends 'base.html.twig' %}

{% block body %}
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>Missions</h1>   
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Missions</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
	<div class="row">
        <div class="col-xs-12">
        	<div class="box">
        		<!-- / box-header -->
        		<div class="box-header">
	              <h3 class="box-title">Missions</h3>
	              <a class="btn btn-info pull-right" title="Add mission" alt="Add mission" href="{{ path('aqf_addedit', {'id': 0}) }}"><i class="fa fa-plus" aria-hidden="true"></i> Add New</a>
	            </div>
	            <div class="box-header pull-right">
	            	Search: 
	            	{# <input type="text" id="txtSearch" name="txtSearch" value ="{{searchText}}" onkeydown="doSearchOnEnterkeyPress(event)" /> #}
	            	<input type="text" id="txtSearch" name="txtSearch" value ="{{searchText}}" />
        			<input type="button" class="button-primary" value="Search" onclick="doSearch()" />
            	</div>
	            <!-- /.box-header -->
	            <div class="box-body">
	            	<table id="tbl_missions" class="table table-bordered table-striped">
	            		<thead>
			                <tr>
			                  {% if role == 1 %}
			                  <th>Username</th>
			                  {% endif %}
			                  <th>Service Date</th>
			                  <th>Product Name</th>
			                  <th>Vendor Name</th>
			                  <th>Actions</th>
			                </tr>
		                </thead>
		                <tbody>
	                		{% for mission in missions %}
			                <tr>
			                  {% if role == 1 %}
			                  <td> {{ users[mission.client] }}</td>
			                  {% endif %}
			                  <td><a href="aqf/view/{{ mission.id }}"> 
			                  	{{ mission.serviceDate|date('d-m-Y') }} </a>
			                  </td>
			                  <td><a href="aqf/view/{{ mission.id }}">
			                  	 {{ mission.productName }} </a>
			                  </td>
			                  <td> {{ mission.vendorName }}</td>
			                  <td>
			                  	<a href="aqf_addedit/{{ mission.id }}"><i class="fa fa-edit"></i></a>&nbsp;&nbsp;&nbsp;
			                  	<a href="aqf/delete/{{ mission.id }}"><i class="fa fa-trash-o" style="color:red"></i></a>
		                  	  </td>
			                </tr>
			            	{% endfor %}
			            </tbody>
	            	</table>
	            	<div class="navigation font-weight-bold">
				    <strong> {{ knp_pagination_render(missions) }} </strong>
					</div>
	            </div>
	            
        	</div>
        	<!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
</section>
<!-- /.Main content -->

<script language="JavaScript" type="text/javascript">
function doSearch()
{
    var searchText = document.getElementById('txtSearch').value;
    if(searchText == '') {
        searchText = 'empty';
    }
   
    var url =  "{{ path('aqf_homepage', {'searchText': 'searchTextVal' }) }}";
    url = url.replace("searchTextVal",searchText);
    document.location.href= url;
}
function doSearchOnEnterkeyPress(e)
{
    var searchText = document.getElementById('txtSearch').value;
    if(searchText == '') {
        searchText = 'empty';
    }

    var url =  "{{ path('aqf_homepage', {'searchText': 'searchTextVal' }) }}";
    url = url.replace("searchTextVal", searchText);

    document.location.href= url;   
}
</script>

{% endblock %}
