{% extends 'base.html.twig' %}

{% block body %}
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>Missions</h1>   
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Missions</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
	<div class="row">
        <div class="col-xs-12">
        	<div class="box">
        		<!-- / box-header -->
        		<div class="box-header">
	              <h3 class="box-title">Missions</h3>
	              <a class="btn btn-info pull-right" title="Add mission" alt="Add mission" href="{{ path('aqf_addedit', {'id': 0}) }}"><i class="fa fa-plus" aria-hidden="true"></i> Add New</a>
	            </div>
	            <!-- /.box-header -->
	            <div class="box-body">
	            	<table id="example1" class="table table-bordered table-striped">
	            		<thead>
			                <tr>
			                  {% if role == 1 %}
			                  <th>Username</th>
			                  {% endif %}
			                  <th>Service Date</th>
			                  <th>Product Name</th>
			                  <th>Vendor Name</th>
			                  <th>Actions</th>
			                </tr>
		                </thead>
		                <tbody>
	                		{% for mission in missions %}
			                <tr>
			                  {% if role == 1 %}
			                  <td> {{ mission.client }}</td>
			                  {% endif %}
			                  <td><a href="aqf/view/{{ mission.id }}"> 
			                  	{{ mission.serviceDate|date('d-m-Y') }} </a>
			                  </td>
			                  <td><a href="aqf/view/{{ mission.id }}">
			                  	 {{ mission.productName }} </a>
			                  </td>
			                  <td> {{ mission.vendorName }}</td>
			                  <td>
			                  	<a href="aqf_addedit/{{ mission.id }}"><i class="fa fa-edit"></i></a>&nbsp;&nbsp;&nbsp;
			                  	<a href="aqf/delete/{{ mission.id }}"><i class="fa fa-trash-o" style="color:red"></i></a>
		                  	  </td>
			                </tr>
			            	{% endfor %}
			            </tbody>
	            	</table>
	            </div>
        	</div>
        	<!-- /.box -->
        </div>
        <!-- /.col -->
        <!-- page script -->
        <script>
        //   $(function () {
        //     $('#example1').DataTable()
        //     $('#example2').DataTable({
        //       'paging'      : true,
        //       'lengthChange': false,
        //       'searching'   : false,
        //       'ordering'    : true,
        //       'info'        : true,
        //       'autoWidth'   : false
        //     })
        //   });
        </script>
    </div>
</section>
<!-- /.Main content -->

{% endblock %}
